body {
  background-color: rgb(16, 19, 32);
  padding: 0px auto 0px auto;
  margin: 0 auto 0 auto;
  font-family: Arial, Helvetica, sans-serif;
 
}
#quote-box {
  position: relative; float: center;
  margin: 0 auto; margin-top: 20%;
  background-color: rgb(45, 51, 60);
  width: 450px;
  height-min: 200px;
  height: auto;
  padding: 20px 20px;
  border: 2px solid rgba(90,20,12,0.6);
  display: table;
  border-radius: 9px;
}

.fbox {
  height: 70px; width: 240px; left: 23%; display: flex; align-items: flex-end;
  margin: 2% 0% 3% 2%; position: relative;}

#quote-box #new-quote {
  position: relative;
  background-color: rgb(130,31,31);
  color: rgba(220,200,200,0.8);
  height: 50px;width: 100px;right:-30%;
  cursor: pointer;
  border: 3px solid rgba(90,30,30);border-radius: 10px;font-size: 14px;font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#text,#author {
  margin: 10px 20px;
  text-align: center;
  padding: 8px 5px;
  color: rgba(222,185,169,0.9);
}

#text {font-size: 20px;}
#author {font-size: 16px; font-weight: bold;}

#tweet {
  padding: 23px;
  background-color: rgba(16,31,170,.5); color: rgba(33,89,216,.9);
  border: 2px solid rgba(20,36,180,.7);border-radius: 8px;
}



